@import url("./colors.css");


body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #333;
    line-height: 1.6;
}

/* Navbar & Logo */
.navbar-brand {
    font-weight: 700;
    color: var(--fis-purple) !important;
    font-size: 1.5rem;
    margin-left: auto;
}

.navbar {
    background-color: #fff;
    border-bottom: 2px solid #eee;
}

/* Presentación Header */
.section-header-presentation {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--fis-purple);
}
.section-header-presentation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 5px;
    background-color: var(--fis-purple);
    border-radius: 2px;
}

.section-title {
    font-weight: 700;
    color: var(--fis-purple);
    margin-bottom: 2rem;
}

/* Hero Section */
.hero-section {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url("https://scontent-lim1-1.xx.fbcdn.net/v/t39.30808-6/555633256_31368526086124820_1841014789114644030_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cf85f3&_nc_ohc=uiOhbDrXWjIQ7kNvwEDW2QJ&_nc_oc=AdnxZA12JhV8EleTPbvRYJvOjgZk9dY7iyGd3IA5C8nYCI4YSm4LMGNj6h_6WmyBDFa1I8Q3KaxDHbfdtdrBfB7b&_nc_zt=23&_nc_ht=scontent-lim1-1.xx&_nc_gid=-bbAtZ9cRHM_83qX9J235w&oh=00_AflWogvhoR6CWsTMptjJ475DZJ5jWJCDTUrB-H6xTga1RA&oe=695100A7");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Cards Custom */
.card-custom {
    border: none;
    border-top: 4px solid var(--fis-purple);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    height: 100%;
    transition: transform 0.3s;
    background: #fff;
}
.card-custom:hover { transform: translateY(-5px); }

.object-fit-cover {
    object-fit: cover;
}

.alliance-title {
    color: var(--dark-titles) !important;
    font-weight: 700;
}

/* Tarjeta de Admisión */
.admission-card {
    background-color: var(--fis-purple);
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(121, 15, 197, 0.3);
}

footer {
    background-color: var(--dark-bg);
    color: white;
    padding: 50px 0;
}

.social-icons a {
    color: white;
    font-size: 2rem;
    margin: 0 15px;
    transition: 0.3s;
}
.social-icons a:hover { color: var(--fis-purple); }